<h1>Your Todos</h1>
<ul class="todos">
  <%= render :partial => 'todos/todo', :collection => @todos %>
</ul>
<%= form_for :todo, 
             :remote => true,
             :html => { :id => 'new_todo' }, 
             :url => { :controller => 'todos', :action => 'create' } do |f| %>
  <%= f.text_field :todo %>
  <%= f.submit 'Add Todo', :class => 'btn', :id => 'todo_submit'  %>
<% end %>
