<h1>Your Todos</h1>
<ul class="todos">
  <% @todos.each do |todo| %>
    <li class="todo"></li>
  <% end %>
  <%= form_for :todo, :remote => true, :html => { :id => 'new_todo' }, 
               :url => { :controller => 'todo', :action => 'create' } do |f| %>
    <%= f.label :todo %>
    <%= f.text_field :todo %>
  <% end %>
</ul>
